:root {
--white-color: #f0f0f0;
--grey-color: #9e9e9e;
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--white-color);
}

body {
  background: rgb(26, 26, 26);
  overflow: hidden;
  display: flex;
  justify-content: center;
  user-select: none;
}

.center_zone, .center_zone2{
    font-size: 27px;
    font-family: 'Copperplate', Copperplate, Fantasy;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
}

.center_zone2{
    display: grid;
}

.center_zone h1 {
    margin-bottom: 20px;
}

.center_zone input[type="text"],
.center_zone input[type="password"] {
    width: 100%;
    padding: 5px;
    margin: 6px 0;
    background-color: black;
    color: var(--grey-color);
    border: 2px solid var(--white-color);
    border-radius: 7px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.center_zone input[type="submit"],
.center_zone a,
#score_exit{
    background-color: #4f4f4f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Copperplate', Copperplate, Fantasy;
}

.center_zone2 a {
    font-size: 2.5rem;
    margin: 20px 5px;
}

.center_zone input[type="submit"]:hover,
.center_zone a:hover {
    background-color: #303030;
}

.flash {
    margin-top: 5px;
    border-radius: 7px;
    font-size: 25px;
}

.flash.good {
    background-color: #28a745;
}

.flash.bad {
    background-color: #63000a;
}

#top{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

#table_top{
    font-size: 30px;
    font-family: 'Copperplate', Copperplate, Fantasy;
    display: block;
    max-height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#table_top h1{
    font-size: 1.2em;
    text-align: center;
}

table { border-collapse: collapse; width: 80%; margin: 20px auto; }
th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
th { background: rgb(26, 26, 26); }
tr:hover { background: #f5f5f5; }

#score_exit_area{
    display: grid;
    text-align: center;
    place-items: center;
    height: 10vh;
}

#menuarea {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#namemenu {
  position: absolute;
  top: 50px;
  height: 150px;
  width: 750px;
  background-image: url("../images/name.png");
  z-index: -1;
}

#figeresee{
    position: absolute;
    z-index: -5;
}

#menubuttonsarea {
  position: absolute;
  top: 20%;
  height: 60%;
  width: 30%;
}

.menubuttons {
  height: 16%;
  width: 100%;
  font-size: 300%;
  font-family: fantasy;
  overflow: hidden;
  margin-top: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
}

.menubuttons:hover {
  background-color: rgb(214, 214, 214);
}

#settingsarea {
  position: absolute;
  height: 80%;
  width: 70%;
  top: 10%;
  background-color: rgba(48, 48, 48, 0.95);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.closebutton {
  height: 52px;
  width: 52px;
  background-image: url("../images/exit.jpg");
  position: absolute;
  left: 0;
}

.closebutton:hover {
  background-image: url("../images/exithoover.jpg");
}

#figurecontainer {
  margin-top: 3%;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
}

#figurearea {
  height: 200px;
  width: 350px;
  margin: 0px 15px;
  background-color: #2d2d2d;
}

#figurecolorsee {
  margin: 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(168, 168, 168);
}

.triangle:hover {
  border-bottom: 50px solid rgb(121, 121, 121);
}

#trianglesettings1 {
  transform: rotate(-90deg);
}

#trianglesettings2 {
  transform: rotate(90deg);
}

#colorfigure {
  margin-top: 2%;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

#colorchoosebutton {
  font-size: 20px;
  font-family: 'Copperplate', Copperplate, Fantasy;
}

#settingsgamearea {
  margin-left: 4%;
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.divsettingsgame {
  display: flex;
}

.settingsseevalue {
  width: 44px;
  background-color: black;
  color: white;
  font-size: 40px;
  font-family: 'Copperplate', Copperplate, Fantasy;
}

.settingsgamebuttons {
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Copperplate', Copperplate, Fantasy;
}

.settingsseevaluenow {
  color: white;
  font-size: 20px;
  margin-left: 15px;
  font-family: 'Copperplate', Copperplate, Fantasy;
  align-content: center;
}

#chooseprofilearea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2d2d2d;
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

#chooseprofiletext {
  height: 5%;
  margin: 2% 4% 1% 8%;
  background-color: black;
  font-size: 20px;
  font-family: fantasy;
  color: white;
}

#listprofiles {
  height: 65%;
  margin: 1%;
  background-color: #1f1f1f;
  overflow-y: auto;
  overflow-x: hidden;
}

#yourprofile {
  height: 10%;
  align-content: center;
  align-self: center;
  font-size: 30px;
  font-family: fantasy;
  color: rgb(255, 255, 255);
}

#buttonsprofile {
  display: flex;
  height: 20%;
  justify-content: space-around;
  align-items: center;
}

.profilebuttons {
  height: 50px;
  width: 150px;
  border-radius: 10%;
  font-size: 30px;
  font-family: 'Copperplate', Copperplate, Fantasy;
}

.profilebuttons:hover {
  background-color: #cccccc;
}

.numprofile {
  height: 30px;
  font-size: 25px;
  font-family: fantasy;
  color: rgb(255, 255, 255);
  padding: 2px 15px;
}

#ratingarea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2d2d2d;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: fantasy;
  color: rgb(255, 255, 255);
}

#scoretext {
  margin-top: 2%;
  height: 6%;
  align-content: center;
  align-self: center;
  font-size: 30px;
}

#scorearea {
  padding: 5%;
  width: 90%;
  height: 90%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.numrating {
  display: flex;
  flex: 1;
}

.numratingname {
  width: 50%;
}

.numratingscore {
  text-align: right;
  width: 50%;
}


#gamecontainer {
  height: 100%;
  width: 100%;
}

#game {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 4px solid white;
}

#gamestats {
  float: right;
  height: 100px;
  width: 300px;
  color: white;
  font-size: 40px;
  font-family: 'Copperplate', Copperplate, Fantasy;
  -webkit-text-stroke: 1px #000000;
  padding-right: 20px;
}

#gamescore {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
}

#gametime {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
}

#pausearea {
  position: absolute;
  display: flex;
  margin: 10px;
}

#divpausemenu {
  background-image: url("../images/menu.png");
  height: 50px;
  width: 50px;
}

#divpause {
  background-size: 100%;
  background-image: url("../images/pause.png");
  height: 47px;
  width: 32px;
  margin-left: 40px;
}

#gamemenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 640px;
  width: 300px;
  background-color: #2d2d2d;
}

#gamemenustats {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 40px;
  font-family: 'Copperplate', Copperplate, Fantasy;
  -webkit-text-stroke: 1px #000000;
}

.gamemenubuttons {
  margin: auto;
  height: 16%;
  width: 75%;
  font-size: 200%;
  font-family: fantasy;
  overflow: hidden;
  border-radius: 50%;
}

.gamemenubuttons:hover {
  background-color: rgb(160, 160, 160);
  color: white;
}

@media (max-width: 800px) {
  #menubuttonsarea {
    position: absolute;
    top: 20%;
    height: 60%;
    width: 68%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .closebutton {
    height: 37px;
    width: 37px;
    background-size: 94%;
  }
  #namemenu {
    background-size: 100%;
    top: 18%;
    height: 7%;
    width: 68%;
  }
  #figurecontainer {
    margin-top: 7%;
    margin-left: 22%;
  }
  .triangle {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(168, 168, 168);
  }
  #figurecolorsee {
    height: 45px;
  }
  #colorfigure {
    margin-top: 9%;
    width: 60%;
  }
  #colorchoosebutton {
    font-size: 10px;
  }
  #settingsgamearea {
    width: 100%;
    height: 77%;
  }
  #figurearea {
    height: unset;
    width: unset;
  }
  .divsettingsgame {
    display: unset;
  }
  #chooseprofiletext {
    margin: 2% 1% 1% 15%;
    font-size: 18px;
  }
  #listprofiles {
    margin: 2%
  }
  .profilebuttons {
    height: unset;
    width: unset;
    font-size: 19px;
  }
  #scoretext {
    margin-left: 10%;
  }
  #game{
    top: 15%;
  }
  #mobilebuttons {
    position: absolute;
    top: 91%;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  #leftbutton{
    height: 32px;
    width: 42px;
    background-image: url("../images/left.png");
  }
  #downbutton{
    height: 38px;
    width: 32px;
    background-image: url("../images/down.png");
  }
  #roratebutton{
    height: 38px;
    width: 31px;
    background-image: url("../images/up.png");
  }
  #rightbutton{
    height: 31px;
    width: 38px;
    background-image: url("../images/right.png");
  }
}