{% extends "base.html" %}

{% block content %}
<div id="top">
    <div id="table_top">
        <h1>Рейтинг</h1>
        <table>
            <thead>
                <tr>
                    <th>Место</th>
                    <th>Игрок</th>
                    <th>Очки</th>
                    <th>Секунд</th>
                </tr>
            </thead>
            <tbody >
                {% for score in scores %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ score.profile.username }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.game_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="score_exit_area">
        <a id="score_exit" href="{{ url_for('menu') }}">В меню</a>
    </div>
</div>


{% endblock %}